@use '../mixins'
@use '../variables'

#question-books

    .questions
        @include mixins.gap

    .filter-area
        @include mixins.center
        padding: 40px 0 0 0

    .filter-check
        @include mixins.center
        margin-right: 10px
        cursor: pointer
        width: 15px
        height: 15px
        border-radius: 3px
        background-color: #D9D9D9

    .filter-text
        font-weight: variables.$font-weight-normal
        font-size: variables.$font-size
        line-height: 15px
        
    